@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');

shell {
	position: relative;
	padding: 15px 20px;
	display: flex;
	background: #2B3245;
	border-radius: 5px;
	user-select: none;
}

shell p {
	font-size: 15px;
	font-family: 'Roboto Mono';
	color: #F5F9FC;
}

shell p.path {
	color: #FF6666;
}

shell p.cmd {
	color: #C78FFF;
}

shell div.copy {
	position: absolute;
	margin: auto;
	padding: 3px 5px;
	display: flex;
	right: 7.5px;
	bottom: 10px;
	font-size: 17.5px;
	transition: color 0.5s ease, background 0.5s ease;
	color: #F5F9FC;
	background: #4D5775;
	border-radius: 5px;
	cursor: pointer;
}

shell div.copy:hover {
	color: #4D5775;
	background: #F5F9FC;
}